name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repositorio
      uses: actions/checkout@v3

    - name: Configurar JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: "17"
        distribution: "temurin"

    - name: Compilar y ejecutar pruebas
      run: mvn -B package

    - name: Guardar artefacto (JAR)
      uses: actions/upload-artifact@v3
      with:
        name: calculadora-jar
        path: target/*.jar
